# Database PostgreSQL connection string
DATABASE_URL="postgresql://postgres:postgres12@localhost:5432/goodwaste?schema=public"

# Port server NestJS
PORT=3001

# Google Gemini API Key (Vision)
GEMINI_API_KEY=""

# JWT Secret
JWT_SECRET="goodwaste-secret-key-2026-indonesia"
